{# src/notesBundle/Resources/views/Notes/add.html.twig #}

{% extends "notesBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block title_body %}
    Ajouter une note
{% endblock %}


{% block content_body %}
<div class="row">
    {{ include ("notesBundle:Notes:form.html.twig") }}
      <br><br>
      <ul class="list-inline">
        <li><a href="{{ path('notes_index') }}">Retour à la liste des notes</a></li>
      </ul>
  </div>
  <hr><br>
</div>
{% endblock %}


{% block notes_body %}

  <ul>

  </ul>

{% endblock %}
