{# src/notesBundle/Resources/views/Notes/edit.html.twig #}
//A SUPPRIMER
{% extends "notesBundle::layout.html.twig" %}

{% block title %}
  Suppression - {{ parent() }}
{% endblock %}

{% block title_body %}
    Suppression de la catégorie
{% endblock %}


{% block content_body %}
<div class="row">
    {{ include ("notesBundle:Notes:formCategory.html.twig") }}
      <br><br>
      <ul class="list-inline">
        <li><a href="{{ path('notes_index', {'id': note.id }) }}">Retour à la liste des notes</a></li>
      </ul>
  </div>
  <hr><br>
</div>
{% endblock %}


{% block notes_body %}

  <ul>

  </ul>

{% endblock %}
