{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block jquery_addon %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% endblock %}
  <title>{% block title %}Application web{% endblock %}</title>

  {% block stylesheets %}
    {# réf du CSS de bootstrap #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/NotesCSS.css') }}">
  {% endblock %}
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div id="header" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="text-center"><b>Notepad App</b></h1>
        </div>
      </div>
    </div>

  <div id="body" class="col-md-10 col-md-offset-1">
    {% block body %}

    {% endblock %}
  </div>



  {% block javascripts %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}
</body>

{% block footer %}
<div class="panel panel-default">
  <footer class="panel-footer">
    <p>ECAM - Mohamed DIDOUH.</p>
  </footer>
</div>
{% endblock %}
</html>
